
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controller/Home.js"></script>

<div ng-app="myApp">
    <div ng-controller="Home">
        <span style="font-size:20px; float: left;">Notice List</span>
        <span style="float: right;"><button class="btn btn-success" ng-click="AddNotice();"><i class="glyphicon-plus"></i>Notice</button></span>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align: center;">S/L</th>
                    <th style="text-align: center;">Description</th>
                    <th style="text-align: center;">Positive Vote</th>
                    <th style="text-align: center;">Negative Vote</th>
                    <th style="text-align: center;">Updated Date</th>
                    <th style="text-align: center;">Has Voting</th>
                    <th style="text-align: center;">Is Active</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="notice in NoticeList">
                    <td style="text-align: center;">{{$index+1}}</td>
                    <td style="text-align: center;">{{notice.Description}}</td>
                    <td style="text-align: center;">{{notice.PositiveVote}}</td>
                    <td style="text-align: center;">{{notice.NegativeVote}}</td>
                    <td style="text-align: center;">{{notice.UpdatedDateSt}}</td>
                    <td style="text-align: center;" ng-show="{{notice.HasVoting==true}}">Yes</td>
                    <td style="text-align: center;" ng-show="{{notice.HasVoting==false}}">No</td>
                    <td style="text-align: center;" ng-show="{{notice.IsActive==true}}">Yes</td>
                    <td style="text-align: center;" ng-show="{{notice.IsActive==false}}">No</td>


                    <td>
                        <button type="button" class="btn btn-warning" ng-click="EditNotice(notice);">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="DeleteNotice(notice);">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


