
<!DOCTYPE HTML>
<html>
<head>
    <title>Minimal an Admin Panel Category Flat Bootstrap Responsive Website Template | Signup :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/AdminTemplate/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/AdminTemplate/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/AdminTemplate/css/font-awesome.css" rel="stylesheet">
    <script src="~/AdminTemplate/js/jquery.min.js"></script>
    <script src="~/AdminTemplate/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Controller/Users.js"></script>
</head>
<body>
    <div class="login" ng-app="myApp">
        <h1><a href="https://bduniqueshop.com/">UNIQUE SHOP </a></h1>
        <div class="login-bottom" ng-controller="Users">
            <h2>Update Password</h2>
            <div class="col-md-12">

                <div class="form-group">
                    <input type="text" class="form-control" id="ChangeUserName" ng-keypress="SetChangeOldPasswordFocus($event)" ng-model="User.UserName" maxlength="16"  placeholder="Username">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" id="ChangeOldPassword" ng-keypress="SetChangePasswordFocus($event)"  ng-model="User.OldPassword" maxlength="12" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="ChangePassword" ng-keypress="SetChangeConfirmPasswordFocus($event)" ng-model="User.Password" maxlength="12" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="ChangeConfirmPassword" ng-keypress="SetBtnChangeFocus($event)" ng-model="User.ConfirmPassword" maxlength="12" placeholder="Confirm Password">
                </div>
                <div class="form-group">
                    <label>
                        <input type="submit"id="btnChangePassword" class="btn btn-warning" ng-disabled="!User.OldPassword || !User.Password  || !User.ConfirmPassword  || !User.UserName" ng-click="ChangePasswordEvent()" value="Submit">
                    </label>
                    <label>
                        <input type="submit" class="btn btn-danger" ng-click="BackToList()" value="List">
                    </label>
                </div>
            </div>



            <div class="clearfix"> </div>
        </div>
    </div>
    <!---->
    <div class="copy-right">
        <p>  &copy; @DateTime.Now.Year All Rights Reserved by  <a href="#">UNIQUE SHOP</a>  </p>
    </div>

    <!---->
    <!--scrolling js-->
    <script src="~/AdminTemplate/js/jquery.nicescroll.js"></script>
    <script src="~/AdminTemplate/js/scripts.js"></script>
    <!--//scrolling js-->
</body>
</html>



