
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/Controller/PaymentGateway.js"></script>

<div ng-app="myApp">
    <div ng-controller="PaymentGateway">
        <span style="font-size:20px; float: left;">Payment Gateway List</span>
        <span style="float: right;"><button class="btn btn-success" disabled ng-click="AddPaymentGateway();"><i class="glyphicon-plus"></i>Payment Gateway</button></span>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="text-align: center;">S/L</th>
                    <th style="text-align: center;">Gateway Name</th>
                    <th style="text-align: center;">Account Type</th>
                    <th style="text-align: center;">Account Number</th>
                    <th style="text-align: center;">Discount Amount</th>
                    <th style="text-align: center;">Charge Amount</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="paymentGateway in PaymentGatewayList">
                    <td style="text-align: center;">{{$index+1}}</td>
                    <td style="text-align: center;">{{paymentGateway.GatewayName}}</td>
                    <td style="text-align: center;">{{paymentGateway.AccountType}}</td>
                    <td style="text-align: center;">{{paymentGateway.AccountNumber}}</td>
                    <td style="text-align: center;">{{paymentGateway.DiscountAmount}}</td>
                    <td style="text-align: center;">{{paymentGateway.ChargeAmount}}</td>
                    <td>
                        <button type="button" class="btn btn-warning"  ng-click="EditPaymentGateway(paymentGateway);">Edit</button>
                        <button type="button" class="btn btn-danger" disabled ng-click="DeletePaymentGateway(paymentGateway);">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


